@{
    ViewData["Title"] = "Home - Instructions";
}

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4 text-center">.NET CORE 3.1 MVC Evaluation</h1>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">Overview</h2>
        <p>This exercise is intended to help us more effectively understand and efficiently evaluate your technical skills that are relevant and critical for the open position on our team.  Please review the following information in order to successfully complete and submit the exercise for evaluation.  It is expected to take 1 - 3 hours to successfully complete depending on your skill set.</p>
        <p>In this exercise, you are expected to augment and complete the development of an this .NET Core 3.1 MVC sample application satisfying the various user stories / requirements while complying with the instructions in the attached requirements document provided in PDF format.</p>
        <p class="lead">If you wish to provide commentary on your submission, please do so on this page.</p>
    </div>
    <div class="col-sm-12">
        <h2 class="page-header">Submission Commentary</h2>
    </div>
</div>

@{
    ViewData["Title"] = "Index";
}



